<div class="two-factor-content" [formGroup]="form">
  <ng-container *ngIf="!tokenHandlerService.twoFA.is2FaConfigured" [ngTemplateOutlet]="configTwoFA"></ng-container>
  <h4>Wpisz kod z aplikacji</h4>
  <span class="row w-100 p-float-label p-input-icon-right justify-content-center">
    <input class="w-100 text-center" style="color: #931e1e" id="code" type="number" pInputText
           formControlName="code"/>
    <label for="code" style="color: black">Kod weryfikacyjny</label>
  </span>
  <span style="margin: 0" *ngIf="form.get('code').invalid">
              <small class="error" *ngIf="form.get('code').dirty && form.get('code').hasError('required')">Kod jest wymagany</small>
  </span>
  <button pButton (click)="login()" label="Zatwierdź" iconPos="left" icon="fa-solid fa-check"
          class="p-button-text p-button-success mb-3"></button>
  <button pButton (click)="logout()" label="Wróć do logowania" iconPos="left" icon="fa-solid fa-arrow-left"
          class="p-button-text p-button-warning"></button>
</div>

<ng-template #configTwoFA>
  <h4>Zeskanuj poniższy kod Qr do aplikacji i podaj kod</h4>
  <img src="{{qrCode}}" alt="configQrCode">
</ng-template>
