<p-dialog header="Zmień status pokoju" [(visible)]="displayModal" [modal]="true"
          styleClass="w-50 h-75 justify-content-center"
          [closable]="false" [draggable]="false" [formGroup]="form">

  <p-dropdown styleClass="w-100" [options]="roomStatuses" optionLabel="name" optionValue="value"
              formControlName="status">
  </p-dropdown>
  <div class="d-flex justify-content-center">
    <img src="assets/changeRoomStatusGraphic.jpg" width="60%" height="60%" alt="change room status graphic">
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="fa-solid fa-plus" [disabled]="validChange()" (onClick)="change()" label="Zmień"
              styleClass="p-button-text p-button-warning"></p-button>
    <p-button icon="fa-solid fa-xmark" (click)="changeVisibleModal()" label="Anuluj"
              styleClass="p-button-text p-button-warning"></p-button>
  </ng-template>
</p-dialog>
