
.login-side {
  flex-basis: 60%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.image-side {
  flex-basis: 40%;
  display: flex;
  height: 100vh;
  background-color: #363636;
  justify-content: center;
  align-items: center;
  border-right: solid #F74A49 4px;
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: #931e1e;
  }
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  h2 {
    color: #363636;
  }

  span, button {
    margin: 12px;
  }
}

.login-button {
  background-color: #931e1e;
  width: 50%;
  border: none;
}

.login-button:hover {
  background-color: #F74A49;
}


