.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  section {
    padding: 20px 0;
  }
}

.admin {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #F74A49;
}
