.base-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #363636;
  color: #f8f8f8;

  button {
    color: #F74A49;
  }
}
