<mat-toolbar class="toolbar">
  <i (click)="drawer.toggle()" [class]="drawer.opened ? 'fas fa-solid fa-xmark' : 'fas fa-solid fa-bars'"></i>
  <span (click)="drawer.toggle()" style="cursor: pointer">Hotel Management System</span>
  <span class="spacer"></span>
  <span [routerLink]="routing.changePassword">
    <i class="fa-sharp fa-solid fa-gear"></i>
  </span>
  <span>
    {{tokenHandlerService.details?.firstName}}
    {{tokenHandlerService.details?.secondName}}
  </span>
  <span (click)="tokenHandlerService.logout()" class="logout-button">
    Wyloguj
    <i class="fas fa-solid fa-arrow-right-from-bracket"></i>
  </span>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" hasBackdrop="false">
  <mat-drawer #drawer class="sidenav d-flex" mode="over">
    <span class="p-1"></span>
    <ng-container [ngTemplateOutlet]="employee"></ng-container>
    <ng-container *ngIf="tokenHandlerService.isAdmin" [ngTemplateOutlet]="admin"></ng-container>
  </mat-drawer>
  <mat-drawer-content (click)="drawer.close()">
    <ng-component></ng-component>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #employee>
  <hms-navbar-item icon="fas fa-solid fa-key" text="Pokoje" [url]="routing.rooms"></hms-navbar-item>
</ng-template>

<ng-template #admin>
  <hms-navbar-item icon="fas fa-solid fa-users" text="Zarządzanie kontami" [url]="routing.management"></hms-navbar-item>
</ng-template>
