<div class="w-100 d-flex justify-content-center align-content-center mt-2 mb-2">
  <p-accordion class="w-75">
    <p-accordionTab class="w-75" header="Filtry">
      <div class="d-flex justify-content-center align-content-center mt-2">
        <div class="d-flex flex-row justify-content-center align-content-center">
          <form [formGroup]="form" class="d-flex flex-wrap justify-content-center align-content-center gap-5">
            <span class="w-25 p-float-label p-input-icon-right d-flex">
              <input class="w-100 text-center" style="color: #931e1e" id="id" type="text" pInputText
                     formControlName="id"/>
              <label for="id" style="color: black">Identyfikator</label>
            </span>
            <span class="w-25 p-float-label p-input-icon-right">
              <input class="w-100 text-center" style="color: #931e1e" id="login" type="text" pInputText
                     formControlName="username"/>
              <label for="login" style="color: black">Login</label>
            </span>
            <span class="w-25 p-float-label p-input-icon-right text-center">
              <input class="w-100 text-center" style="color: #931e1e" id="firstName" type="text" pInputText
                     formControlName="firstName"/>
              <label for="firstName" class="text-center" style="color: black">Imię</label>
            </span>
            <span class="w-25 p-float-label p-input-icon-right text-center">
              <input class="w-100 text-center" style="color: #931e1e" id="secondName" type="text" pInputText
                     formControlName="secondName"/>
              <label for="secondName" style="color: black">Nazwisko</label>
            </span>
            <p-dropdown [options]="availableRoles" optionValue="value" placeholder="Wybierz uprawnienie"
                        optionLabel="name" [showClear]="true" formControlName="role"></p-dropdown>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex w-75 justify-content-start">
          <button pButton label="Wyczyść filtry" [disabled]="!form.dirty" (click)="clearFilters()"
                  style="background-color: #931e1e"
                  class="search-button p-button-warning"></button>
        </div>
        <div class="d-flex w-75 justify-content-end">
          <button pButton label="Szukaj" (click)="search()" style="background-color: #931e1e"
                  class="search-button p-button-warning"></button>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>




